<!DOCTYPE html>
<html lang="in">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=La+Belle+Aurore|Fira+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">


    <title>Home</title>
</head>

<body>
    <!--Testata-->
    <header class="bg-light text-white">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm-4 align-self-center">
                    <a href="home.html"><img src="assets/images/logo.png"></a>
                </div>
                <div class="col-sm-5">
                    <nav class="navbar navbar-expand-sm  navbar-light bg-light justify-content-end">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="menu">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="home.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="chisiamo.html">Chi siamo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contatti.html">Contatti</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn text-white gradiente" href="contatti.html">Registrati</a>


                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-sm-1"></div>
            </div>

        </div>
    </header>
    <!--Main-->
    <main>
        <div id="banner" class="container-fluid">
            <div class="boxbanner text-white">
                <h1>Diventa un developer<br>
                    EPICO</h1>
                <p> Diventa un developer EPICO e ti troviamo noi il lavoro. Scommettiamo su di te&colon; <br>paghi metà
                    corso,l'altra metà solo quando inizi a lavorare.</p>
                <a href="contatti.html" class="btn text-white gradiente" role="button">Chiedi info</a>
            </div>

        </div>

    </main>
    <!--sezioni-->
    <section>
        <!--Perchè-->
        <article>
            <div class="container-fluid text-center pt-3">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <h1>Perché diventare un Developer?</h1>
                        <p>Non servono laurea e competenze specifiche, solo impegno.<br>
                            Segui il corso online, dove vuoi tu.<br>
                            Il lavoro che andrai a fare è veramente figo.</p>
                    </div>
                    <!--gruppo di 3-->

                    <div class="col-sm-4 pt-3">
                        <i class="bi bi-chat"></i>
                        <h3>Tutti ti cercheranno</h3>
                        <p>Sono 30.000 in Italia le posizioni di developer scoperte, scegli quella che ti stimola di
                            più.</p>
                    </div>
                    <div class="col-sm-4 pt-3">
                        <i class="bi bi-cursor-fill"></i>
                        <h3>Potrai lavorare dove vuoi</h3>
                        <p>Non serve lavorare in ufficio per essere creatori di prodotti digitali, e le aziende lo
                            sanno. Lavora da casa, in riva al mare o in montagna.</p>
                    </div>
                    <div class="col-sm-4 pt-3">
                        <i class="bi bi-people-fill"></i>
                        <h3>Azienda, Freelance o Startup</h3>
                        <p>Scegli più facilmente la carriera e il rapporto di lavoro che ti piace di più, in qualsiasi
                            momento.
                        </p>

                    </div>
                </div>
            </div>
        </article>
        <!--scrivici-->
        <article id="scrivici">
            <h1>Ma chi è il Developer oggi?</h1>
            <p>Se non lo sai te lo diciamo noi&colon; il futuro è dei developer</p>
            <a href="contatti.html" class="btn text-white gradiente" role="button">Scrivici!</a>
            </article>
            <article>
                <div class="container-fluid pb-5">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4 p-5">
                            <img src="assets/images/notebook.jpg">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6 pt-4 text-left align-self-center">
                            
                            <h2><i class="bi bi-check-circle"></i> &nbsp;Chi sarai</h2>
                            <p class="pl-5">Il creatore delle app che usi tutti i giorni</p>
                            <h2><i class="bi bi-check-circle"></i> &nbsp;Chi diventerai</h2>
                            <p class="pl-5">Lo specialista padrone del suo tempo e spazio</p>
                             <h2><i class="bi bi-check-circle"></i> &nbsp;Chi non sarai</h2>
                            <p class="pl-5">Il nerd incollato allo schermo</p>
                        


                        </div>
                    </div>
                </div>

            </article>
    </section>
    <!--Footer-->
    <footer>
        <div class="container pt-4">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Chi Siamo</h4>
                    <p>
                        Epicode School nasce con l’obiettivo di rivoluzionare la formazione in ambito tech.

                    </p>
                    
                </div>
                <div class="col-sm-4">
                    <h4>Ti piace ciò che vedi? Condividilo con i tuoi amici!</h4>
                    <div>
                        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                        <a href="https://it.linkedin.com/"><i class="bi bi-linkedin"></i></a>
                        <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a><br>
                        <small>&copy;2021 Epicode Web Developer school</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    
                        <h4>Iscriviti alla nostra newsletter</h4>
                        <form action="#" class="form-inline">
                        <input type="text">
                        <button class="btn text-white gradiente">Va bene!</button>

                    </form>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>